rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Hotel guest requests (accessible by guests scanning QR code and staff)
    match /requests/{requestId} {
      allow read, write: if true;
    }
    
    // Staff & Developer accounts directory
    match /accounts/{accountId} {
      allow read, write: if true;
    }
  }
}
